
<body>
<div class="jumbotron">
  <div class="container">
  <center><h2>Open Health Map</h2></center>
  
  <p> 
  	<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
         <%= link_to "Add a project", "#", class: "btn btn-primary btn" %> 
      </span>
      <input type="text" class="form-control" placeholder="enter the project URL">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  