<div class="jumbotron center">
<div class="container">
<h1>Open Health Map</h1> 
<p>
We are mapping open source projects in health care
<br>
</p>

<body>
  
  <p>
<br>
</p>
  	<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
         <%= link_to "Add a project", "#", class: "btn btn-primary btn" %> 
      </span>
      <input type="text" class="form-control" placeholder="enter the project URL">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Keyword Search OS Projects in Health...">
      <span class="input-group-btn">
        <%= link_to "View Projects", "#", class: "btn btn-warning btn" %> 
       
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
  </p>
     
  </div>

</div>
	
</body>


