	<%= link_to "Home", root_path %>
	<%= link_to "Geography", geography_path %>

<h1>Welcome to the Open Source Health Map</h1>
<h2>mapping open source projects related to health care</h2>



<body>
	Contribute to the open source health map: <%= link_to "add a project here", "#" %>
</body>
