
<div class="jumbotron center">
     <h1>Open Health Map</h1>
<p>
We are mapping open source projects in health care
<br>
</p>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-success btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>