
<center><h2>Open Health Map</h2></center>

<body>
<div class="jumbotron">
  <div class="container">
  
  <p> 
	<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Keyword Search OS Projects in Health...">
      <span class="input-group-btn">
        <%= link_to "View Projects", "#", class: "btn btn-warning btn" %> 
       
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </p>

